<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <!-- folder to stored all downloaded Wikidata dumps and entity type database(s) -->
  <entry key="dataDir">data</entry>
  <!--  destination folder -->
  <entry key="destDir">beacons</entry>
</properties>
